FreeBSD-base: {
    url: "{{ packages_pkg_upgrade_url }}/${ABI}/{{ packages_pkg_upgrade_url_release }}",
    signature_type: "fingerprints",
    fingerprints: "/usr/share/keys/pkg",
    mirror_type: "srv",
    enabled: true
}